---
---

<!DOCTYPE html>
<html class="en">
<title>Media Matters Direct - Home</title>
{% include head.html %}
<body>


  {% include header.html %}

  <h1>WELCOME TO MEDIA MATTERS DIRECT</h1>

  <!-- Flexbox -->
  <div class="flex">

  <!-- Column Left -->
  <div class="col-2">
    <div class="center">
      <p>We would like to introduce ourselves to you, we are a media distribution company with many years experience in all aspects of distribution.</p>
      <p>Media Matters Direct believe through our experience, that using display stands will provide maximum exposure and coverage to existing and new clientele within your target audience.</p>
      <p>It is our opinion that the customer you wish to target will be reached via our outlets.</p>
    </div>
  </div>
  <!-- /Column Left -->

  <!-- Column Right -->
  <div class="col-2">
    <img src="{{site.baseurl}}/assets/img/van.png" alt="Van">
  </div>
  <!-- /Column Right -->

  </div>
  <!-- /Flexbox -->

  <div class="center">
  <p>We can tailor distribution to your personal requirements.</p>
  <p>However, we have display stands at chosen locations throughout the Midlands via Hotel Foyers/Receptions, Golf Clubs and Private Health Clubs, which are serviced and monitored twice weekly.</p>
  <p>If you are a subscription magazine, have you ever considered using a percentage of your publication or sales returns for promotional services, to reach and attract new clientele?</p>
  </div>

  <div class="parallax"></div>

  <!-- SERVICES WRAP -->

  <div class="center">
  <h5>By using Media Matters Direct we can offer you</h5>
  </div>

  <div class="services-wrap">
  <div class="services-items">
    <img src="{{site.baseurl}}/assets/img/locations.png" alt="Prime Locations">
    <h3>Prime Locations</h3>
    <p>Our stands are situated in prime locations across the Country.</p>
  </div>

  <div class="services-items">
    <img src="{{site.baseurl}}/assets/img/awareness.png" alt="Promote Awareness">
    <h3>Promote Awareness</h3>
    <p>The magizines we provide are vital for businesses to promote awareness.</p>
  </div>

  <div class="services-items">
    <img src="{{site.baseurl}}/assets/img/clients.png" alt="Promote New Clientele">
    <h3>Promote New Clientele</h3>
    <p>Use our products to promote new clientele</p>
  </div>

  <div class="services-items">
    <img src="{{site.baseurl}}/assets/img/diversity.png" alt="Diversify Distribution">
    <h3>Diversify Distribution</h3>
    <p>Our products provide you with a wide range of magizines that are distributed across the country.</p>
  </div>

  <div class="services-items">
    <img src="{{site.baseurl}}/assets/img/increase.png" alt="Increase Subscriptions">
    <h3>Increase Subscriptions</h3>
    <p>Our stands will increase your subscriptions</p>
  </div>

  <div class="services-items">
    <img src="{{site.baseurl}}/assets/img/monitored.png" alt="Monitored Distribution">
    <h3>Monitored Distribution</h3>
    <p>Our drivers are always monitored so you will always know when the magazines will be delivered.</p>
  </div>
  </div>
  <!-- /SERVICES WRAP -->

  <div class="center">
    <p>Media Matters Direct supply the reception areas of large corporate buildings in Birmingham & surrounding  with a regular supply of magazines and a stand to display them on.</p>

    <p>Our drivers deliver fresh magazines on a weekly basis for your visitors and employees to enjoy.</p>

    <p>Both the stand and magazines are provided on a complementary basis.</p>
  </div>


{% include footer.html %}

</body>
</html>
