<footer>
  <div class="flex">
    <div class="col-2">
      <div class="footer-nav">
        <ul>
          <li><a href="{{site.baseurl}}/index.html">Home</a></li>
          <li><a href="{{site.baseurl}}/stands/index.html">Stands</a></li>
          <li><a href="{{site.baseurl}}/hotel/index.html">Hotel Form</a></li>
          <li><a href="{{site.baseurl}}/contact/index.html">Contact Us</a></li>
        </ul>
        <p>&copy;	2016 Media Matters Direct</p>
      </div>
    </div>
    <div class="col-2">
      <div class="footer-info">
        <a href="http://www.dave-dove.com/" target="_blank">
          <p>Website Designed & Developed By</p>
          <p>Dave Dove - Web Development</p>
          <img src="{{site.baseurl}}/assets/img/dave-dove.jpg" alt="Dave Dove">
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="{{site.baseurl}}/assets/js/jquery-2.1.4.min.js"></script>
<script src="{{site.baseurl}}/assets/js/functions.js"></script>
<script src="{{site.baseurl}}/assets/js/lightbox.js"></script>
