<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO -->
  <meta name="google-site-verification" content="Fay7TJACPELb-yudkPHWR4E-g2W9WJQnFuDZ1o-wwiQ" />
  <meta name="author" content="Dave Dove">
  <meta name="description" content="Media Matters Direct are a media distribution company with many years experience in all aspects of distribution.">
  <meta name="keywords" content="magazine distribution, Midlands Business, Midlands, Hotel Distribution, Newspaper Distribution, Deliveries, London, News distribution, magazines">
  <link rel="canonical" href="http://www.dave-dove.com/">

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" content="Media Matters Direct">
  <meta name="twitter:description" content="Media Matters Direct are a media distribution company with many years experience in all aspects of distribution.">
  <meta name="twitter:image:src" content="">

  <!-- Social: Facebook / Open Graph -->
  <meta property="fb:admins" content="">
  <meta property="fb:app_id" content="">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Media Matters Direct">
  <meta property="og:image" content="">
  <meta property="og:description" content="Media Matters Direct are a media distribution company with many years experience in all aspects of distribution.">
  <meta property="og:site_name" content="Media Matters Direct">
  <meta property="article:author" content="https://www.facebook.com/davedove86/">
  <meta property="article:publisher" content="https://www.facebook.com/davedove86/">

  <!-- Social: Google+ / Schema.org  -->
  <link rel="author" href="https://plus.google.com/116518580177391079555">
  <link rel="publisher" href="https://plus.google.com/116518580177391079555">
  <meta itemprop="name" content="Media Matters Direct">
  <meta itemprop="description" content="Media Matters Direct are a media distribution company with many years experience in all aspects of distribution.">
  <meta itemprop="image" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/all.css">
</head>
