<header>
  <a href="../index.html">
    <div class="hero">
      <img src="{{site.baseurl}}/assets/img/header/logo.png" alt="Logo">
    </div>
    <p class="center">Stands that give you maximum exposure and coverage</p>
  </a>
</header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Brand Logo</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{site.baseurl}}index.html">Home</a></li>
          <li><a href="{{site.baseurl}}stands/index.html">Stands</a></li>
          <li><a href="{{site.baseurl}}hotel/index.html">Hotel Form</a></li>
          <li><a href="{{site.baseurl}}contact/index.html">Contact Us</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
